.nav-color {
  background: #2bc0e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #eaecc6,
    #2bc0e4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #eaecc6,
    #2bc0e4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.landing-grid {
  background: #085078; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #85d8ce,
    #085078
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #85d8ce,
    #085078
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.banner-text {
  background-color: black;
  opacity: 0.3;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  font-size: 66px;
  font-weight: bold;
  color: aliceblue;
}
/* .banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: aliceblue;
} */
